::-webkit-scrollbar {display: none;}

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: "Arial", Helvetica, sans-serif;
 }

body {
	width: 100vw;
	height: 100vh;
	background-color: #343131;
 }

form {
	width: 100%;
	height: 100%;
 }

#scrapes {
	width: 100%;
	height: 85%;
	text-align: center;
	overflow: scroll;
   }

#scrapes.search {height: 78.5%;}

#search {
	width: 100%;
	height: 5%;
	margin-top: 0.75%;
	text-align: center;
	background-color: #2980B9;
	box-shadow: 0px 4px 0px #000000;
 }

input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}

input[type="search"] {
	width: 30%;
	height: 100%;
	float: left;
	margin-left: 30%;
	padding: 8px;
	font-size: 24px;
	color: #000000;
	text-shadow: 0px 1px 1px #444444;
 }

#header {
	width: 100%;
	height: 5%;
	text-align: center;
	background-color: #2980B9;
 }

#nav {
	width: 100%;
	height: 5%;
	text-align: center;
	background-color: #404040;
	box-shadow: 0px 4px 0px #000000;
 }

#footer {
	width: 100%;
	height: 5%;
	text-align: center;
	background-color: #2980B9;
 }

.scrape {
	width: 20%;
	height: 20%;
	margin: 12px;
	display: inline-block;
	background-color: #2980B9;
	border-radius: 8px 8px 4px 4px;
	border-color: #2980B9;
	border-style: solid;
	border-width: 4px;
	box-shadow: 0px 4px 0px #000000;
 }

.scrape_header {
	width: 100%;
	height: 20%;
	background-color: #2980B9;
	border-radius: 8px 8px 0px 0px;
	vertical-align: middle;
	line-height: 200%;
 }

.scrape_body {
	width: 100%;
	height: 60%;
	background-color: #E3E3E3;
	vertical-align: middle;
	text-align: left;
 }

.scrape_footer {
	width: 100%;
	height: 20%;
	background-color: #FCFCFC;
	border-radius: 0px 0px 4px 4px;
	vertical-align: middle;
	line-height: 200%;
 }

.left {
	width: 50%;
	height: 100%;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
 }

.right {
	width: 50%;
	height: 100%;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
 }

a {
	color: #ffffff;
	text-decoration: none;
 }

#boldtitle {
	font-weight: bold;
	color: #ffffff;
	text-shadow: 0px 2px 0px #000000;
 }

#boldstealth {
	font-weight: bold;
	color: #404040;
 }

button {
	width: 20%;
	height: 100%;
	font-size: 24px;
	background-color: #404040;
	border: none;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 0px 3px 0px #000000;
 }

	button.search {
		width: 10%;
		height: 100%;
		background-color: #2980B9;
		float: right;
		margin-right: 30%;
	 }

		button.search:hover {
			width: 10%;
			height: 100%;
			background-color: #1F618C;
		 }

	button.blue {background-color: #2980B9;}

	button:hover {background-color: #363636;}

	button.blue:hover {background-color: #1F618C;}
