/*
COLOR1: #314E59
COLOR2: #6A7348
COLOR3: #D9C2A7
COLOR4: #A67356
COLOR5: #A63838
COLOR6: #913131
*/
::-webkit-scrollbar { 
    display: none; 
}

* {
    margin: 0px;
    padding: 0px;
    transition: .15s ease-in;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: #343131;
}

#scrapes {
    width: 100%;
    height: 100%;

    text-align: center;
}

.scrape {
    width: 20%;
    height: 20%;

    margin: 12px;

    display: inline-block;

    background-color: #2980B9;

    border-radius: 8px 8px 4px 4px;
    border-color: #2980B9;
    border-style: solid;
    border-width: 4px;

    box-shadow: 0px 8px 20px #11152B;
}

.scrape:not(:hover) {
        opacity: 0.75;
}

.scrape_header {
    width: 100%;
    height: 20%;

    background-color: #2980B9;
    border-radius: 8px 8px 0px 0px;

    vertical-align: middle;
    line-height: 200%;
}

.scrape_body {
    width: 100%;
    height: 60%;

    background-color: #E3E3E3;

    vertical-align: middle;
    text-align: left;

}

.scrape_footer {
    width: 100%;
    height: 20%;

    background-color: #FCFCFC;
    border-radius: 0px 0px 4px 4px;

    vertical-align: middle;
    line-height: 200%;
}

.left {
    width: 50%;
    height: 100%;

    display: inline-block;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

}

.right {
    width: 50%;
    height: 100%;

    display: inline-block;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;  
}

#header {
    width: 100%;
    height: 10%;

    margin-top: 2.5%;

    text-align: center;
    vertical-align: middle;
    line-height: 10vh; 

    background-color: #2980B9;

    font-size: 48px;

    box-shadow: 0px 8px 20px #11152B;
}

#nav {
    width: 100%;
    height: 5%;

    text-align: center;
    vertical-align: middle;
    line-height: 5%;

    margin-bottom: 2.5%;

    background-color: #404040;

    box-shadow: 0px 8px 20px #11152B;
}

button {
    height: 100%;
    width: 20%;

    font-size: 24px;

    background-color: #404040;
    border: none;
    color: white;
}

button:hover { 
    background-color: #11152B;
}